@model IEnumerable<MedicalSystem.Models.MedicalSpecialities>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.specId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specName)
            </th>
            <th>Events</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.specId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.specId}) |
               
                @Html.ActionLink("Delete", "Delete", new { id=item.specId },
                new{onclick="return confirm ('Are You Sure from Deleting?')"})
            </td>
        </tr>
}
    </tbody>
</table>
